@page "/"

<h1>Hola, nubers!</h1>

<p>Mi nombre es David De Smet. 👋</p>

<p>Mi experiencia en el viaje de Innovacción Virtual en Nube ha sido muy emocionante.</p>

<p>Aunque he usado la plataforma de Azure para tareas indispensables en el trabajo como crear App Services, Azure Functions, SQL Databases, etc, no había tenido el conocimiento para exprimir los maravillosos servicios que Azure nos provee y de los cuales he aprendido hasta ahora en el viaje.
Sin duda, aún hay mucho por aprender y me siento muy motivado, tanto que adquirí algunos cursos de Azure para seguir aprendiendo y poner a la práctica lo aprendido.</p>

<p>Mi reto más grande sin duda alguna es Azure AI, ya que no cuento aún con algunos conocimientos "base" (se podría decir) como estadística para la regresión lineal y múltiple, por mencionar un ejemplo.</p>

<p>El código fuente de este proyecto lo encuentras en <a href="https://github.com/daviddesmet/innovaccion-virtual-blazor-swa" target="_blank" class="ml-md-auto">GitHub</a>.</p>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
